@using MySalon_Master.Controllers
@model object
@{
    ViewData["Title"] = "My Salon Homepage";
}

<header class="py-5 full-salon-background ">
    <form asp-controller="Movies" asp-action="Index" margin-right="10px">
        <p>
            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center text-center">
        </div>
    </div>
</header>
<br />

<section class="content gallery pad1">
    <div class="ic"></div>
    <div class="container">
        <div class="row">
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/Haircolor.jpg" class="gall_item"><img src="~/Images/Haircolor.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Vivamus at magna non nunc </a></div>
                            Rehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreet
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/haircolor1.jpg" class="gall_item"><img src="~/Images/haircolor1.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Divamus at magna non nunce </a></div>
                            Kehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreet
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/Haircut3.jpg" class="gall_item"><img src="~/Images/Haircut3.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Livamus at magna non nunc </a></div>
                            Tehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreeto
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear sep__1"></div>
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/haircut7.jpg" class="gall_item"><img src="~/Images/haircut7.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Sivamus at magna non nute </a></div>
                            Rehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreetet
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/Haircutbackground.jpg" class="gall_item"><img src="~/Images/Haircutbackground.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Kivamus at magna non nunj </a></div>
                            Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreet
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/hairtreatment.jpg" class="gall_item"><img src="~/Images/hairtreatment.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Vivamus at magna non nunc </a></div>
                            Rehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreet
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear sep__1"></div>
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/Haircut2.jpg" class="gall_item"><img src="~/Images/Haircut2.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Amusat magna non nunc </a></div>
                            Oehoncus. Gliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laore
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/pedicure1.jpg" class="gall_item"><img src="~/Images/pedicure1.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Mivamus at magna non nunc </a></div>
                            Lehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laor
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="gall_block">
                    <div class="maxheight">
                        <a href="Images/pedicure2.jpg" class="gall_item"><img src="~/Images/pedicure2.jpg" alt="" style="width: 220px; height: 150px;"></a>
                        <div class="gall_bot">
                            <div class="text1"><a href="#">Nivamus at magna non nunc </a></div>
                            Rehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laorees
                            <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>