@{
    ViewData["Title"] = "My Saloon Homepage";
}

    <h2>My Saloon Homepage</h2>

<p>Hello from My Salon Home page view!</p>

<p>Add Salon Image (photo) here</p>

<p> Add some sentences or paragraphs about Salon</p>