@using MySalon.Controllers
@model object
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container-fluid py-0">
    <main role="main">
        <header class="full-contact-background">
        </header>
    </main>
</div>
<div class="container">
<h2>Contact My Salon</h2>
    <p>WHY US?</p>
    <p>Our mission is simple: fashion forward style, mastery of the latest hair trends and techniques, superior customer service, and a personal dedication to excellence.</p></p>
    <p>Contact: 0450 520 690</p>
    <p>Address: 1/120 Mitchell Street, Darwin, Northern Territory Pearl st. Boulder, Co. 0820</p>
    <p>Salon Hours:</p>
    <p>Monday-Friday: 10am-8pm
        Saturday: 10am-5pm
        Closed on Sunday</p>
</div>

