@{
    ViewData["Title"] = "Contact Us";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MySalon_Master.Models.ContactFormModel


<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h3>Send Us Email!</h3>
            <form asp-action="Index" asp-controller="ContactUs" method="post">
                <div class="form-group">
                    <label asp-for="Name">Your Name:</label><br/>
                    <input type="text" asp-for="Name" placeholder="Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Your Email:</label><br/>
                    <input type="text" asp-for="Email" placeholder="Email address" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Message">Your Message:</label><br/>
                    <textarea asp-for="Message" placeholder="Message Here" class="form-control"></textarea>
                </div>
                <button class="btn btn-primary" type="submit" value="Send Message!">Send Message</button>
            </form>
        </div>
        <div class="col">
            <h3 align="left">Address</h3>
            <p align="left">1/120 Mitchell Street, Darwin<br/> Northern Territory Pearl st. Boulder, Co. 0820</p>
            <h3 align="left">Salon Hours:</h3>
            <p align="left">
                Monday-Friday: 10am-8pm<br/>
                Saturday: 10am-5pm <br/>
                Closed on Sunday 
            </p>
        </div>
    </div>
    <div class="container">

        <style>
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            #map {
                height: 400px;
                width: 800px;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        <br />
        <div class="row mt-4" align="center">
            <div id="map"></div>
            <script>
                var map;
                var myLatlng = { lat: -12.4625352, lng: 130.8390556 };
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: myLatlng,
                        zoom: 15
                    });
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: 'Here we are!',
                        //icon: 'm3.png',
                        draggable: true
                    });
                    var searchBox = new google.maps.places.SearchBox(document.getElementById('mapsearch'));
                    goole.maps.event.addListener(searchBox, 'places_changed', function () {
                        var places = searchBox.getPlaces();
                        var bounds = new google.maps.LatLngBounds();
                        var i, place;
                        for (i = 0; place = places[i]; i++) {
                            bounds.extend(place.geometry.location);
                            marker.setPosition(place.geometry.location);
                        }
                        map.fitBounds(bounds);
                        map.setZoom(15);
                    });
                }

            </script>
            <!--
        <div id="map"></div>
        <script>
            // Note: This example requires that you consent to location sharing when
            // prompted by your browser. If you see the error "The Geolocation service
            // failed.", it means you probably did not give permission for the browser to
            // locate you.
            var map, infoWindow;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 6
                });
                infoWindow = new google.maps.InfoWindow;

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }
        </script>
        -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjNEEZ0o70fOHa8oH3edJJG-YaZSFRCPU&callback=initMap"
                    async defer></script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        </div>

    </div>
</div>
    