
@model object

@{
    ViewBag.Title = "Admin Panel";
    Layout = "_Layout";
}

<div class="container pt-3">
    <h2>Admin Panel</h2>
    <div class="container">
        <div class="row" align="justify">
            <div class="col-sm-4">
                <div class="card" style="width: 220px; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-users-cog"></i> Manage Users</h4>

                        <a asp-controller="ManageUser" asp-action="UserManagement" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 220px; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-university"></i> Manage Appointments</h4>

                        <a asp-controller="ManageAppointment" asp-action="AppointmentManagement" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 220px; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-graduation-cap"></i> Manage Staffs</h4>

                        <a asp-controller="ManageStaff" asp-action="StaffManagement" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-4" align="justify">
            <div class="col-sm-4">
                <div class="card" style="width: 220px; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-file-alt"></i> Generate Reports</h4>
                        <a asp-controller="AdminPanel" asp-action="Reports" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>